---
import Layout from '@/layouts/Layout.astro';
// Supports weights 100-900
import '@fontsource-variable/jost';
import CountDown from '@/sections/Countdown.astro';
import Footer from '@/sections/Footer.astro';
import Hero from '@/sections/Hero.astro';
import Info from '@/sections/Info.astro';
import PrincipalData from '@/sections/PrincipalDate.astro';
import Sponsors from '@/sections/Sponsors.astro';
import Header from '@/components/Header.astro';
---

<Layout title="Mi velada IV- evento de boxeo ">
	<Header/>
	<main>
		<Hero />
		<PrincipalData />
		<Sponsors />
		<!-- <Info /> -->
		<!-- <CountDown /> -->
	</main>
	<Footer />		
</Layout>


 