---
import DrawXlogo from "./DrawXlogo.astro"
const pages = [
  { name: " El Evento", href: "/" },
  { name: "Combates", href: "/combates" },
  { name: "Pronósticos", href: "/pronosticos" },
  {
    name: "Entradas",
    href: "https://www.entradas.com/artist/la-velada-del-ano/?affiliate=LVL",

    target: "_blank",
  },
]
---

<header class="  max-w-[100vw]  md:h-2 lg:h-2 h-16 justify-center content-center  ">
  <nav class="  group flex justify-between  mx-auto hidden    ">
    {
        pages.map(({ name, href, target }) => (
          <a
            href={href}
            target={target}
            class="text-white text-lg font-bold hover:text-gray-300"
          >
            {name}
          </a>
        ))
    }
  

  </nav>
</header>

<div class="flex min-h-2 w-full items-center mb-8">
  <hr
    class="h-[2px] w-full border-t-0"
    style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
  />
</div>
