---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center font-medium">
  <span class=" animate-fade-in animate-delay-300 text-xl uppercase text-secundary bg-primary  px-6 py-1 mb-9">
    Presentación de la
  </span>
  <HeroLogo class="text-primary animate-fade-in-up  w-[300px] md:w-[] h-auto md:w-[600px]" />
</section>