---
import Ubicacion from "@/icons/Ubicacion.astro";
---

<section
  class="mt-10 mx-auto flex flex-col justify-center items-center text-center text-primary"
>
  <header
    class="animate-fade-in animate-delay-300 uppercase text-2xl md:text-5xl font-semibold textcen"
  >
    13 de Julio
    <!-- <span>
      <script is:inline>
        const END_DATE = 17095752000000;
        const d = new Date(END_DATE);
        const date = d.toLocaleTimeString("es", {
          hour: "2-digit",
          minute: "2-digit",
        });

        //recuperar zona horaria
        const tzOffset = d.getTimezoneOffset() / 60;
        const diff = tzOffset * -1;
        const gmt = diff > 0 ? `GMT+${diff}` : `GMT-${Math.abs(diff)}`;

        const TZ_DICTIONARY = {
          "GMT+1": "CET",
        };

        const tz = TZ_DICTIONARY[gmt] ?? gmt;

        const selfScript = document.currentScript;
        selfScript.parentNode.innerHTML = `${date}H  ${tz}`;
      </script>
    </span>-->
  </header> 
    <h3 class="uppercase text-1xl md:text-2xl font-medium flex mt-4 v">
      <Ubicacion class="size-6 mr-2" />

      <a
        class=""
        href="https://maps.app.goo.gl/F1oAFhFjqnvTKtC18"
        target="_blank"
        rel="noopener"
        aria-label="ubicación del campo Santiago Bernabéu en google maps, se abrirá en una nueva pestaña"
        >Estadio santiago bernabéu</a
      >
    </h3>

    <footer class=" scrllo-horizontal mt-6 flex flex-col items-center gap-9 md:flex-row ">
      <div class=" flex flex-col items-center justify-center gap-y-2 ">
        <a
          class="button-style mt-8"
          aria-disabled="false"
          href="https://www.entradas.com/artist/la-velada-del-ano/?affiliate=LVL"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="se abrira otra pestaña si las estardas estan agotadas"
        >
          <span> Comprar entradas </span>
        </a>
        <span class=" text-verde"> !Agotadas¡</span>
      </div>
    </footer>
  </h2>
</section>
