---
import LightsBackground from '@/components/LightsBackground.astro';
import NoiseBackground from '@/components/NoiseBackground.astro';
import SmokeBackgorund from '@/components/SmokeBackgorund.astro';
import '@fontsource/rock-salt';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Evento de streamers" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="" />
    <title>{title}</title>
  </head>
  <body
    class="dark [&_:focus-visible]:outline-none [&_:focus-visible]:ring-2 [&_:focus-visible]:ring-primary"
  >
  <LightsBackground/>
  <!-- <NoiseBackground/> -->
  <!-- <SmokeBackgorund /> -->
    <!-- //parece que este es la luz -->
   <div class="container relative -z-10 mx-autow w-screen overflow-x-clip">
      <img
        aria-hidden="true"
        src="/lights.svg"
        class="absolute top-0 w-screen transform-gpu opacity-0 brightness-200  md:scale-125 lg:left-0 lsg:scale-100"
        onload="this.classList.add('animate-fade-in', 'animate-duration-800')"
        alt="Foco de Luz"
      />
    </div>
   
    <!-- centramos la pagina -->
    <div class=" px-2 pt-16 selection:bg-primary selection:text-secondary md:pt-20 lg:px-10 ">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root{
    --color-primary: #ddd;
    --color-secondary: #333;
    --color-verde: #d5ff00;

    --background-color: #101010;
    --backgroun-twitch: var(--color-twitch-ice);

    --color-twitch: #6441A4;
    --color-twitch-ice: #f0f0ff
  }
  html {
    background-color: var(--background-color);
    font-family: system-ui, sans-serif;
  
  }
  body {
    font-family: "Jost Variable", sans-serif;
  }
  @font-face {
    font-family: "inhabits";
    src: url(/fuentes/inhabits.otf) format("opentype");
  }
  @font-face {
    font-family: 'Rock Salt',;
    src: url();
  }

	
  
  
</style>
