---
import SmokeBackgorund from '@/components/SmokeBackgorund.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Evento de streamers" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="" />
    <title>{title}</title>
  </head>
  <body
    class="[&_:focus-sisible]:outline-none [&_:focus-visisble]:ring-2 [&_:focus-visible]:ring-primary"
  >
  <SmokeBackgorund />
    <!-- //parece que este es la luz -->
    <!-- <div class="container relative -z-10 mx-autow w-screen overflow-x-clip">
      <img
        aria-hidden="true"
        src="/lights.svg"
        class="absolute top-0 w-screen transform-gpu opacity-0 brightness-200 bri md:scale-125 lg:left-0 lsg:scale-100"
        onload="this.classList.add('animate-fade-in', 'animate-duration-800')"
        alt="Foco de Luz"
      />
    </div> -->
   
    <!-- centramos la pagina -->
    <div class="max-w-6xl px-2 lg:px-10 pt-32 mx-auto">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  html {
    background: #333s;
    font-family: system-ui, sans-serif;
    background-size: 224px;
  }
  body {
    font-family: "Jost Variable", sans-serif;
  }
</style>
